#app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app > h1{
  color: #996dff;
  margin-top: -5px;
}

#app > img{
  width: 84px;
}

#app > h2{
  align-self: flex-start;
  margin-top: 100px;
}
#app > p{
  align-self: flex-start;
  text-align: justify;
  width: 512px;
}

#app .placeholder{
  color: #7C7C8A;
  user-select: none;
}